In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("data/learningSet.csv")
df

/var/folders/_w/x8l09n5j7j18x1445tz3c3ww0000gn/T/ipykernel_51335/74220493.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/learningSet.csv")

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

### 1. Check for null values in all the columns

In [17]:
df.isna().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

### 2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

In [18]:
# OSOURCE - symbol definitions not provided, too many categories
# ZIP CODE - we are including state already

In [19]:
df = df.drop(['OSOURCE', 'ZIP'], axis = 1)

In [20]:
df.shape

(95412, 479)

In [21]:
drop_list = []

### 3. Identify columns that over 85% missing values

In [79]:
for col in df.columns:
    if df[col].isna().sum() / len(df) > 0.85:
        print(col)

NUMCHLD
RDATE_3
RDATE_4
RDATE_5
RDATE_6
RDATE_7
RDATE_10
RDATE_13
RDATE_15
RDATE_17
RDATE_20
RDATE_21
RDATE_23
RAMNT_3
RAMNT_4
RAMNT_5
RAMNT_6
RAMNT_7
RAMNT_10
RAMNT_13
RAMNT_15
RAMNT_17
RAMNT_20
RAMNT_21
RAMNT_23

In [81]:
df['NUMCHLD'].isna().sum() / len(df)

0.8701840439357733

In [82]:
df['RDATE_3'].isna().sum() / len(df)

0.997463631409047

### 4. Remove those columns from the dataframe

In [87]:
for col in df.columns:
    if df[col].isna().sum() / len(df) > 0.85:
        df = df.drop((col), axis = 1)

In [88]:
df.shape

(95412, 454)

### 5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [90]:
df.GENDER.value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [97]:
df['GENDER'] = df.GENDER.replace([' ','U', 'J', 'C', 'A'],['other', 'other', 'other', 'other', 'other'])

In [98]:
df.GENDER.value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64